@model Website.Models.StudyTasksModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="taskList">
    <h1>Study Monitor</h1>
@{
    foreach (var task in Model.StudyTaskModels)
    {
        <p class="body-content">
            @task.Id.ToString(), @task.Name
            <button type="button" id="@task.Id,button" onclick="myFunction(@task.Id)">Click Me!</button>
        </p>
    }

    <p class="body-content">
        <button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>
    </p>
}
</div>

<script>
    function myFunction(taskId) {
        document.getElementById(taskId+",button").style.color = "magenta";
        $.post("@Url.Action("Select", "Home")", { data: taskId });
    }

    function addTask() {
        var tasksNumber = $('input[name="Task Name"]').length;
        $form = $('<form id="createForm"></form>');
        $form.append(
            $("<input>",
                {
                    type: 'text',
                    name: 'Task Name',
                    id: 'createTaskName'+tasksNumber
                }
            )
        );
        $form.append(
            $("<input>",
                {
                    type:'button',
                    value:'Create Task',
                    onclick: 'createTask()'
                }
            )
        );
        $('#taskList').append($form);
        $('#requestAddTask').remove();
    }

    function createTask()
    {
        $.get("Add", { data: $('#createForm').find('input[name="Task Name"]').val() });
        $('#createForm').remove();
        $('#taskList').append($('<button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>'));
    }
</script>
