@model StudyMonitor.ServiceAccess.StudyTaskCollection

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="taskList">
    <h1>Study Monitor</h1>
    @{
        var openTask = Model.FirstOrDefault(task => task.OpenTimeSpan != null);
        var buttonCaption = openTask == null ? "Start" : "Stop";
        var test = Model.GroupBy(task => task.Id).Where(group => group.Count() != 1).ToList();
        foreach (var task in Model)
        {
            <p class="body-content">
                @task.Id.ToString(), @task.Name
                <button type="button" id="@task.Id-button" onclick="myFunction(@task.Id)" hidden="@(openTask == null || openTask == task)">@buttonCaption</button>
            </p>
        }

        <p class="body-content">
            <button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>
        </p>
    }
</div>

<script>
    function myFunction(taskId) {
        var taskWasOpen = $('#' + taskId + '-button').text() == "Stop";
        $.find('button[id$="-button"]').forEach(function (button) { button.hidden = taskWasOpen });

        if (taskWasOpen) {
            //$.post("@Url.Action("Select", "Home")", { data: taskId, taskWasOpen: true });





        }
        else {
            // $.post("@Url.Action("Select", "Home")", { data: taskId, taskWasOpen: false });
            $('#' + taskId + '-button').text("Stop")
        }
    }

    function addTask() {
        $form = $('<form id="createForm" action ="@Url.Action("Add", "Home")" method="post"></form>');
        $form.append(
            $("<input>",
                {
                    type: 'text',
                    name: 'taskName'
                }
            )
        );
        $form.append(
            $("<input>",
                {
                    type: 'submit',
                    value: 'Create Task'
                }
            )
        );
        $('#taskList').append($form);
        $('#requestAddTask').remove();
    }

    function createTask() {
        $.post("@Url.Action("Add", "Home")",
            { data: $('#createForm').find('input[name="taskName"]').val() });
        $('#createForm').remove();
        $('#taskList').append($('<button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>'));
    }
</script>
