@model StudyMonitor.ServiceAccess.StudyTaskCollection

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="taskList">
    <h1>Study Monitor</h1>
@{
    foreach (var task in Model)
    {
        <p class="body-content">
            @task.Id.ToString(), @task.Name
            <button type="button" id="@task.Id,button" onclick="myFunction(@task.Id)">Click Me!</button>
        </p>
    }

    <p class="body-content">
        <button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>
    </p>
}
</div>

<script>
    function myFunction(taskId) {
        document.getElementById(taskId+",button").style.color = "magenta";
        $.post("@Url.Action("Select", "Home")", { data: taskId });
    }

    function addTask() {
        $form = $('<form id="createForm" action ="@Url.Action("Add", "Home")" method="post"></form>');
        $form.append(
            $("<input>",
                {
                    type: 'text',
                    name: 'taskName'
                }
            )
        );
        $form.append(
            $("<input>",
                {
                    type: 'submit',
                    value: 'Create Task'
                }
            )
        );
        $('#taskList').append($form);
        $('#requestAddTask').remove();
    }

    function createTask() {
        $.post("@Url.Action("Add", "Home")",
            { data: $('#createForm').find('input[name="taskName"]').val() });
        $('#createForm').remove();
        $('#taskList').append($('<button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>'));
    }
</script>
