@model StudyMonitor.ServiceAccess.StudyTaskCollection

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="taskList">
    <h1>Study Monitor</h1>
    @{
        if (Model != null)
        {
            foreach (var task in Model)
            {
                <p class="body-content">
                    @task.Id.ToString(), @task.Name
                    <button type="button" id="@task.Id,button" onclick="myFunction(@task.Id)">Click Me!</button>
                </p>
            }

            <p class="body-content">
                <button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>
            </p>
        }
    }
</div>

<script>
    function myFunction(taskId) {
        document.getElementById(taskId+",button").style.color = "magenta";
        $.post("@Url.Action("Select", "Home")", { taskId: taskId, taskWasOpen: true});
    }

    function addTask() {
        $form = $('<form id="createForm" action ="@Url.Action("Add", "Home")" method="post"></form>');
        $form.append(
            $("<input>",
                {
                    type: 'text',
                    name: 'taskName'
                }
            )
        );
        $form.append(
            $("<input>",
                {
                    type: 'submit',
                    value: 'Create Task'
                }
            )
        );
        $form.append(
            $("<input>",
                {
                    type: 'hidden',
                    name: 'userId',
                    value: '@ViewBag.userId'
                }
            )
        );
        $('#taskList').append($form);
        $('#requestAddTask').remove();
    }

    function createTask() {
        $.post("@Url.Action("Add", "Home")",
            { data: $('#createForm').find('input[name="taskName"]').val() });
        $('#createForm').remove();
        $('#taskList').append($('<button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>'));
    }
</script>
